{%- set cargo_conf=read_file(file_path="./Cargo.toml") | from_toml -%}
pkgname={{cargo_conf['package']['name']}}
pkgver={{cargo_conf['package']['version']}}
pkgrel=0
pkgdesc="{{cargo_conf['package']['description']}}"
url={{cargo_conf['package']['repository']}}
arch="all"
license={{cargo_conf['package']['license']}}
depends=""
makedepends="cargo"
install=""
subpackages=""
#source="$pkgname-$pkgver::git+{{cargo_conf['package']['repository']}}#tag=v$pkgver"

build() {
    cp -a /workspace/* .
    cargo build --release
}

package() {
    echo "try package $pkgdir"
    install -Dm755 target/release/jintemplify "$pkgdir/usr/bin/jintemplify"
}

sha512sums="SKIP"