{# main.yaml.j2 #}
{% import "module.j2" as macros %}
{% set conf = read_file(file_path='./examples/scratch/test.json') | from_json %}
# title: My name is {{ vars.var1 }}.
```yaml
items:
- {{ vars.var2.sub_var2[0] | indent(prefix='  ', first=true)}}
- {{ vars.var2.sub_var2[1]}}
envs:
    - {{ vars.var1 }}
    - name: {{ conf.hello }}
    - name: {{ my_echo() }}
```

```json
{{ my_read_file(file_path=vars.file_path) }}
```
{{- macros::build_list(articles=['article1', 'article2']) | my_indent(prefix="\t") -}}

# test wasm plugin filter
{{ "hello world" | my_test_filter(var1="hello", var2="world")}}