{# plugin.yaml.j2 #}
functions:
  - name: my_read_file
    params:
      - name: file_path
        description: file path
    script: cat $(file_path)

  - name: my_echo
    env:
      my_var: "hello plugin"
    script: echo ${my_var}

  - name: combine_string
    params:
      - name: var1
      - name: var2
    wasm:
      path: ./wasm_example/target/wasm32-unknown-unknown/release/wasm_example.wasm
      import: combine_strings
filters:
  - name: my_indent
    params:
      - name: prefix
    description: "description for my filter"
    script: |
      #!/bin/bash
      echo -e $(input) | sed 's/^/$(prefix)/'
  - name: my_test_filter
    params:
      - name: var1
      - name: var2
    wasm:
      path: ./wasm_example/target/wasm32-unknown-unknown/release/wasm_example.wasm
      import: my_test_filter